@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss /typography;

* {
  @apply font-roboto;
}
header#header {
  background: linear-gradient(180deg, #000 0%, rgba(115, 115, 115, 0) 100%);
}
#menu-principal {
  ul {
    @apply flex items-center md:space-x-10;
    a {
      color: #fff;
    }
  }
  button {
    line-height: 0;
  }
}
.bg-gradient-banner {
  background: linear-gradient(90deg, #00244c 0%, rgba(38, 117, 217, 0) 100%);
}

.btn {
  @apply w-full block bg-azul text-white text-center py-2 px-4 rounded-md;
}
.btn-blue {
  @apply bg-[#3A89BE] text-white shadow-sm;
  &:hover {
    @apply bg-[#2c85c0];
  }
}

.caja-home {
  .contenido {
    background-image: url(../img/bg-seccion.jpg);
    background-size: cover;
    background-position: center;
  }
}
.swiper-pagination-bullet-active {
  @apply !bg-azul;
}
.prose {
  @apply max-w-full;
}

.banner-home {
  .item {
    background: url(../img/banner-home.jpg);
    @apply bg-center bg-cover bg-no-repeat;
  }
}
.banner-interior {
  @apply bg-center bg-cover bg-no-repeat;
}
.banner-nosotros {
  background-image: url(../img/banner-nosotros.jpg);
}
.banner-reconocimiento {
  background-image: url(../img/banner-reconocimiento.jpg);
}
.banner-areas-practica {
  background-image: url(../img/banner-area-de-practica.jpg);
}
.banner-contacto {
  background-image: url(../img/banner-contacto.jpg);
}
@media (max-width: 768px) {
  header#header {
    background: none;
  }
  .bg-gradient-banner {
    background: linear-gradient(
      90deg,
      #00244c 0%,
      rgba(38, 117, 217, 0.4) 100%
    );
  }
  .banner-home {
    .bg-gradient-banner {
      background: linear-gradient(
        180deg,
        #00244c -20%,
        rgba(217, 217, 217, 0) 100%
      );
    }
    .item {
      background: url(../img/banner-home-m.jpg);
      @apply bg-bottom bg-no-repeat;
      background-size: 100% auto;
    }
  }
  .banner-nosotros {
    background-image: url(../img/banner-nosotros-m.jpg);
  }
  .banner-reconocimiento {
    background-image: url(../img/banner-reconocimiento-m.jpg);
  }
  .banner-areas-practica {
    background-image: url(../img/banner-area-de-practica-m.jpg);
  }
  .banner-contacto {
    background-image: url(../img/banner-contacto-m.jpg);
  }
  .banner-interior {
    .bg-gradient-banner {
      background: linear-gradient(
        90deg,
        #00244c 0%,
        rgba(217, 217, 217, 0) 50%
      );
    }
  }
  #menu-principal {
    .menu {
      &.active {
        @apply block absolute left-3 right-3 z-50;
        ul {
          @apply block;
          a {
            @apply block py-4 px-4 text-right border-b border-b-azul-oscuro/40 bg-azul hover:bg-azul/95;
          }
          li:last-child {
            a {
              @apply border-b-0;
            }
          }
        }
      }
    }
  }
}
